@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Happy+Monkey&family=League+Spartan:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://coolors.co/6bab90-f9e784-81523f-fb9f89-c6ebbe');

:root {
    --primary-color: #6bab90;
    --secondary-color: #f9e784;
    --accent1-color: #81523f;
    --accent2-color: #c6ebbe;
}  
:root {
font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Happy Monkey';
}
body {
    background-color: #C6EbbE
}
.header {
    padding: 10px;
    text-align: center;
    background-color: #6bab90;
    color: white;
    font-size: 30px;
    font-family: 'Happy Monkey';
}
.logo {
    width:200px;
    height:275px;
    position: absolute;
    top:0;
    left:0;
}
.quote {
    font-size: 18px;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #6bab90;
   color: white;
   text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: Arial;
  }
.header {
    text-align: center;
    padding: 32px;
  }
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .column img {
    margin-top: 12px;
    float: left;
    width:  100px;
    object-fit: cover;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
/* .synopsis {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}
.synopsisImg {
    float: left;
    height: 100px;
    width: 100px;
}
.textBox {
    float: right;
} */